* {
  margin: 0;
  padding: 0;

  font-family: Georgia, Palatino, Times, 'Times New Roman', sans-serif;
}

body {
    /*background: #E6CBB0;*/
    background: #FFFFFF;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}
@media screen and (max-width: 1000px) {
    body {
        padding: 10px;
    }
    h2 {
        padding: 10px 0 15px 0;
    }
}
@media screen and (min-width: 1000px) {
    #main {
        position: absolute;

        top: 40px;
        left: 280px;

        width: 800px;
    }

    #sidebar {
    position: fixed;

    top: 40px;
    left: 20px;
    width: 200px;

    padding: 20px 20px 0 0;

    /*border-right: 1px solid #ccc;*/
    border-right: 1px solid #D67B44;

    text-align: right;
    }
    #right-sidebar {
    position: fixed;

    top: 40px;
    left: 1100px;
    width: 300px;

    padding: 0 0 20px 20px;

    border-left: 1px solid #D67B44;

    text-align: left;
    }

    #sidebar h2 {
    text-transform: uppercase;

    font-size: 13px;

    color: #333;

    letter-spacing: 1px;

    line-height: 20px;
    }

    #sidebar ul {
    list-style-type: none;

    margin: 20px 0;
    }

    #sidebar li {
    font-size: 14px;

    line-height: 20px;
    }

    #sidebar li a {
        color: #AA7168;
    }

    #right-sidebar li a {
        color: #AA7168;
    }

    #right-sidebar h2 {
    text-transform: uppercase;

    font-size: 13px;

    color: #333;

    letter-spacing: 1px;

    line-height: 20px;
    }

    #right-sidebar ul {
    list-style-type: none;

    margin: 20px 0;
    }

    #right-sidebar li {
    font-size: 14px;

    line-height: 20px;
    }
}

#main h1 {
  font-size: 40px;
  font-weight: normal;
  color: #8F241E;

  line-height: 40px;

  letter-spacing: -1px;
}

#main p {
  margin: 20px 0;

  font-size: 15px;

  line-height: 20px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;

  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}


img {
    max-width: 100%;
}

code {
    font-family: Monaco, Courier New;
    background: #DDDDDD;
}
pre code {
    display: block;
    font-family: Monaco, Courier New;
    font-size: 0.8em;
    background: #DDDDDD;
    overflow: auto;
}

form {
    border: 2px solid #D67B44;
    padding: 10px;
}
form.secure {
    background: #EEF3CA;
}

label {
    float: left;
    text-align: right;
    margin-right: 15px;
    width: 100px;
    padding-top: 5px;
    font-size: 1.4em;
}

input {
	padding: 5px;
	width: 150px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}


form.secure[action^="http://"]:after {
    content: url("/images/nedry.gif");
}
